.data
.githooks
.github
.overrides
.venv
doc
tests
.dockerignore
.editorconfig
.env
.gitignore
AGENTS.md
docker-compose.yml
Dockerfile
pytest.ini
requirements.dev.txt
README.md

.git
__pycache__
*.pyc